.about {
    padding: 62px 0;
}

.about__title {
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    max-width: 700px;
    margin: 0 0 24px;
}

.about__description {
    line-height: 150%;
    max-width: 700px;
    margin: 0 0 72px;
}

.about__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
    gap: 24px ;
}

.about__item {
    padding: 6px 0 6px 96px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80px;
    min-height: 80px;
}

.about__item-top {
    background-image: url(../img/top.svg);
}

.about__item-master {
    background-image: url(../img/master.svg);
}

.about__item-garant {
    background-image: url(../img/garant.svg);
}

.about__item-title {
    margin: 0 0 8px;
}

.about__item-description {
    margin: 0;
    line-height: 130%;

}

@media (max-width: 1024px) {
    .about__description {
margin-bottom: 46px;
    }

    .about__list {
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        column-gap: 29px;
    }

    .about__item {
    padding-top: 96px;
    background-position: top left;
    padding-left: 0;
}
}


@media (max-width: 768px) {
    .about {
        padding: 40px 0;
    }

    .about__title {
        font-size: 32px;
        margin-bottom: 24px;
    }

    .about__description {
        margin-bottom: 32px;
    } 

    .about__list {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }

    .about__item {
    padding-left: 96px;
    padding-top: 0;
    background-position: left;

}

.about__item-title {
    font-size: 16px;
}
}


@media (max-width: 560px) {
.about {
    padding: 32px 0;
}

.about__list {
    grid-template-columns: 272px
}
.about__title {
    font-size: 20px;
    margin-bottom: 16px;
}

.about__description {
    font-size: 32px;
}

.about__item {
    padding-left: 72px;
    min-height: 64px;
    background-size: 64px;
}
}


